.header {
  margin-bottom: 20px;
  background: rgb(229, 232, 21);
  background: linear-gradient(
    263deg,
    rgba(229, 232, 21, 1) 31%,
    rgba(7, 242, 8, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: rgb(17, 15, 15);
  font-size: 18px;
}

.link:hover {
  transform: scale(1.2);
}

.active {
  composes: link;
  color: #2196f3;
}
